/*This connects to my jumbotron in my header.php and putiing the color to whitesmoke 
and putting the text-align to center.*/
.jumbotron h1{
    color:whitesmoke;
    text-align: center;
}
/*This connects to my jumbotron in my header.php and we are inserting a background-image and ajusting the size to it.*/
.jumbotron{
    background-image: url('http://1.bp.blogspot.com/-dxI3vU59bmY/TVMkEaGOuLI/AAAAAAAADQo/sK6yX8i1qrw/s400/stairWAY5.jpg');  
    background-size: cover;
  
}

/*Here this # symbol connects to the draggable "id" and puts a new width,height and zero padding.*/
#draggable{
    width: 50px;
    height: 50px;
}
/*This connects to the navigation bar in the header.php and we are putting the text alignment centered.*/
#nav{
    text-align: center;
}

img {
    background-image: url("http://3.bp.blogspot.com/_bsfahNTj3tk/TUkXqp1otjI/AAAAAAAABDM/efmFzpnV-1A/s1600/space_bokeh_background_awake_seamless_tile_pattern_pattterns_tiles.jpg");
    background-size: cover;
}