
.jumbotron p{
    color:black;
}

.jumbotron{
    background-image: url('http://1.bp.blogspot.com/-dxI3vU59bmY/TVMkEaGOuLI/AAAAAAAADQo/sK6yX8i1qrw/s400/stairWAY5.jpg');  
    background-size: cover;
  
}

/*Here this # symbol connects to the draggable "id" and puts a new width,height and zero padding.*/
#draggable{
    width: 50px;
    height: 50px;
}
